.message-main {
  display: flex;
  flex-direction: column;
}

.message-time {
    font-style: italic;
    font-size: 14px;
    align-self: flex-end;
  }
  
  .message-time {
    font-style: italic;
    font-size: 14px;
  }
  
  .message-text {
    margin: 5px 0;
  }