.login-form {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  height: 250px;
  background-color: #e0b57d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.login-form label input {
  font-size: 18px;
}

.login-form label span {
  margin-bottom: 10px;
}

.login-button {
  height: 30px;
  margin: 15px 0 0 auto;
  width: 100px;
}