.user-editor {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#e0b57d;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.editor-body {
  margin: 15px 0;
  font-size: 20px;
}

.editor-title {
  font-weight: normal;
  font-size: 24px;
  padding: 0;
  margin: 10px 0;
}

.editor-input {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.editor-input-field {
  font-size: 18px;
}

.editor-input-label {
  padding-bottom: 5px;
}

.preview-password-button {
  width: 50px;
}

.password-input {
  display: flex;
  align-items: stretch;
}

.editor-input-field {
  flex-grow: 1;
}

.editor-footer {
  margin: 30px 0 5px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: stretch;
}

.cancel-button,
.save-button {
  width: 80px;
}
