.user-item {
  display: flex;
  background-color: khaki;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgb(139, 107, 46);
  margin-bottom: 20px;
}

.user-control {
  display: flex;
  align-items: center;
}

.user-control button {
  height: 40px;
  width: 80px;
}

.user-control button:first-child {
  margin-right: 20px;
}

.login {
  font-size: 24px;
}
