.message-input {
  padding: 10px 0;
  background-color: #7285A5;
  border-top: 1px solid rgb(15, 31, 66);
  box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}

.message-input form.message-input-form {
  width: 100%;
  align-items: center;
  display: flex;
}

.message-input-text {
  margin-left: 25px;
  height: 40px;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: 4px 4px 8px 0px #41445c;
  padding: 5px 15px;
  font-size: 16px;
}

.message-input-button {
  width: 70px;
  height: 50px;
  margin: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  border: 1px solid rgba(34, 60, 80, 0.6);
}
